<h1>Editing Calory</h1>

<%= render 'form', calory: @calory %>

<%= link_to 'Show', @calory %> |
<%= link_to 'Back', calories_path %>

<% content_for :header do %>
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Editing calorie registration
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
    <%= render 'form', micropost: @calory %>
    <br>
    <%= link_to 'Back', calories_path,class:"button" %>
</div>


