<% content_for :header do %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Calories progress
      </h1>
    </div>
  </div>
</section>
<% end %>


<div class="hero-body">
<div style ="width: 1010px; padding-left:100px">
  <%= content_tag :div, "", id: "calories_progress", data: {calories: calories_data } %>
</div>
<br>
<br>
  <div class="container">
    <div class="table-container" style="width: 1010px; padding-left:50px">
    <div class="container">
      <%= form_tag(calories_path, method: :get) do %>
        <div style = "width:200px; float:left">
        <%= text_field_tag :search_date, params[:search_date],type: :date, class:"input is-link is-small" %></div>
        <div style = "width:200px; float:left">
        <%= text_field_tag :search_comment, params[:search_comment], placeholder:"exp. tomatoes", class:"input is-link is-small" %></div>
        <%= submit_tag ("Search"), class: 'button is-link is-small'%>
      <% end %>
    </div>

    <br>
    <div style="width:500px"><%= paginate @calories, window: 2 %></div>
    <br>
      <table class="table is-narrow is-hoverable -row-hover-background-color primary" >
      <thead>
        <tr>
          <th title="Comment">Comment</th>
          <th title="Type">Type</th>
          <th title="Value">Calories</th>
          <th title="Date">Date</th>
          <th title="Action">
            <div class="tag is-link is-normal">Total registers <%= current_user.num_register%></div>
          </th>
        </tr>
      </thead>
        <% @calories.each do |calory| %>
          <tbody>
          <tr>
            <td style="width: 600px;"><%= calory.comment %></td>
            <td><%= calory.type_value %></td>
            <td><%= calory.value %></td>
            <td><%= calory.updated_at.strftime("%d-%m-%Y") %></td>
            <td>
              <%= link_to 'Edit', edit_calory_path(calory), class: "button is-small" %>
              <%= link_to 'Delete', calory, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
            </td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>




