<% content_for :header do %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Calories progress
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="hero-body">
  <div class="container">
    <div class="table-container" style="width: 950px; padding-left:100px">
    <%= paginate @calories, window: 2 %>
    <br>
    <br>
      <table class="table is-narrow is-hoverable -row-hover-background-color primary" >
      <thead>
        <tr>
          <th title="Comment">Comment</th>
          <th title="Type">Type</th>
          <th title="Value">Calories</th>
          <th title="Action">
            <div class="tag is-link is-normal">Total registers <%= current_user.num_register%></div>
          </th>
        </tr>
      </thead>
        <% @calories.each do |calory| %>
          <tbody>
          <tr>
            <td style="width: 600px;"><%= calory.comment %></td>
            <td><%= calory.type_value %></td>
            <td><%= calory.value %></td>
            <td>
              <%= link_to 'Edit', edit_calory_path(calory), class: "button is-small" %>
              <%= link_to 'Delete', calory, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
            </td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>




