<% content_for :header do %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Calories progress
      </h1>
    </div>
  </div>
</section>
<% end %>

  <div class="hero-body">
      <div class="container">
        <% @calories.each do |calory| %>
          <div >
            <div class="notification" style="width: 900px; margin:0px ", wrapper: false><%= calory.comment %></div>
            <p class="tag is-info"><%= calory.type_value%>: <%= calory.value%></p>
          
            <% if calory_author(calory) %>
              <%= link_to 'Edit', edit_calory_path(calory), class: "button is-small" %>
              <%= link_to 'Delete', calory, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
            <% end %>

        </div>
        <br>
        <% end %>
    </div>
  </div>
