  <div class="columns">
    <div class="column is-8">
      <p>
        <strong>Comment:</strong>
       <div class="notification" style="width: 900px; margin:0px ", wrapper: false>
        <%= @calory.comment %>
      </div>

        <strong>Value:</strong>
      <div class="notification" style="width: 900px; margin:0px ", wrapper: false>
        <%= @calory.value %>
      </div>

      <strong>Type value:</strong>
      <div class="notification" style="width: 900px; margin:0px ", wrapper: false>
        <%= @calory.type_value %>
      </div>
      </p>
        <% if calory_author(@calory) %>
          <%= link_to 'Edit', edit_calory_path(@calory), class: 'button' %>
        <% end %>

      <%= link_to 'Back', calories_path , class: 'button'%>
</div>
</div>